
/* Navbar styling */

.navbar {
  background-color: #333333a2;

}

.navbar-brand {
  color: #fff !important;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0; 
}

.my-nav {
  color: #fff !important;
  font-size: 26px;
  margin-right: 20px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.jumbotron .btn-primary {
  color: #fff !important;
  cursor:pointer
}

/* About Section */
.about-me{
  display: flex;
}
.about-me .btn1 {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Darker background on mouse-over */
.about-me .btn1:hover {
  background-color: RoyalBlue;
}
.about-me .my-image{
  
  border-radius: 50%;
  height: 250px;   
}

#abt-1 {

  font-size: 32px; 
}
.abt-section{
  background-color: gray;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}


#abt-2{
  font-size: 18px;
  text-align: justify;

}
.about-2,#abt-1 {
  margin: 20px;
  text-align: left;
  color: #fff;
}

/* ProjectsGallery Section */

.container-fluid {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
 
}

.cardContainer {
max-width: 900px;
height: 500px;
display: flex;
justify-content: center;
align-items: center;

}

.card:hover{ 
  transform:scale(1.05);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 400px;
  width: 350px;

}
.card-body a {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }

  .card-body .btn {
    display:inline-block;
  }
  
/* Contact Section */
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    margin-top: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
  }

/*  Styling footer */
.linkd, .gh, .fb{
  color:dodgerblue;
  font-size: 40px;
  text-decoration: none !important;
  margin:0 10px;
  margin: 20px;
  height: 400px;
  
}

.linkd:hover,
.gh:hover,
.fb:hover{
  color:royalblue;
  box-shadow: 2px 2px 5px #10042d;

}
